<template>
  <admin-component />
</template>

<script lang="ts">
import AdminComponent from '@/components/AdminComponent.vue'

export default {
  name: 'AdminView',
  components: {AdminComponent},
}
</script>
