<template>
  <div class="container my-5" v-if="userStats">
    <h1>{{ $t('Administrator area') }}</h1>
    <p>{{ $t('Currently there are {total} registered users including:', {total: this.userStats.total})}}<br>
      - {{$t('{number}: delivery drivers', {number: this.userStats.deliveryman})}}<br>
      - {{$t('{number}: clients', {number: this.userStats.clients})}}</p>
    <deliveryman-listing-component/>
    <client-listing-component/>
  </div>
</template>

<script lang="ts">
import DeliverymanListingComponent from "@/components/Admin/DeliverymanListingComponent.vue";
import ClientListingComponent from "@/components/Admin/ClientListingComponent.vue";
import {getUserStatsRequest} from "@/api/userRequest";

export default {
  name: 'AdminComponent',
  components: {ClientListingComponent, DeliverymanListingComponent},
  data() {
    return {
      userStats: null
    }
  },
  mounted() {
    getUserStatsRequest().then((res) => {
      this.userStats = res
    })
  }
}
</script>
