<template>
  <div class="container">
    <div class="my-5">Format :
      <button class="btn sub-menu btn-sm me-1" type="button">Tous</button>
      <button class="btn sub-menu btn-sm me-1" type="button">Petit</button>
      <button class="btn sub-menu btn-sm me-1" type="button">Moyen</button>
      <button class="btn sub-menu btn-sm" type="button">Grand</button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" v-for="(product, index) in products" :key="index">
        <product-card :product="product" />
      </div>
    </div>
    <div class="my-5">Format :
      <button class="btn sub-menu btn-sm me-1" type="button">Tous</button>
      <button class="btn sub-menu btn-sm me-1" type="button">Petit</button>
      <button class="btn sub-menu btn-sm me-1" type="button">Moyen</button>
      <button class="btn sub-menu btn-sm" type="button">Grand</button>
    </div>
  </div>
</template>
<script lang="ts">
import type {IProduct} from "@/interface/IProduct";
import ProductCard from "@/components/product/ProductCard.vue";

export default {
  name: 'AdsComponent',
  components: {ProductCard},
  data() {
    return {
      products: [
        {
          name: 'Nom du produit',
          size: 'petit',
          travel: 'De Grenoble à Fontaine',
          price: '5€',
          picture: "/1.jpg"
        },
        {
          name: 'Nom du produit',
          size: 'petit',
          travel: 'De Grenoble à Fontaine',
          price: '5€',
          picture: "/2.jpg"
        },
        {
          name: 'Nom du produit',
          size: 'moyen',
          travel: 'De Grenoble à Fontaine',
          price: '12€',
          picture: "/3.jpg"
        },
        {
          name: 'Nom du produit',
          size: 'grand',
          travel: 'De Grenoble à Fontaine',
          price: '20€',
          picture: "/4.jpg"
        }
      ] as IProduct[]
    }
  }
}
</script>
