<template>
  <div class="container-fluid p-0">
    <div>
      <img src="@/assets/homepage.jpg" class="img-fluid" alt="homepage">
    </div>
    <div class="container">
      <div class="my-5">
        <h1 class="fw-bold">{{ $t('Send your parcel with peace of mind') }}</h1>
        <p class="col-md-12 fs-4">{{ $t('Place your ad in just a few seconds.')}}</p>
      </div>
      <h2 class="fw-bold">{{ $t('Latest ads') }}</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <div class="col" v-for="(product, index) in products" :key="index">
          <product-card :product="product"/>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-4">
        <div class="col d-flex align-items-start">
          <svg-icon type="mdi" :path="path1" :size="40" class="bi text-body-secondary flex-shrink-0 me-3"></svg-icon>
          <div>
            <h3 class="fw-bold mb-0 fs-4">{{ $t('Quick and easy') }}</h3>
            <p>{{ $t("Whether you're a sender or a receiver, placing an ad is just a few clicks away.") }}</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg-icon type="mdi" :path="path2" :size="40" class="bi text-body-secondary flex-shrink-0 me-3"></svg-icon>
          <div>
            <h3 class="fw-bold mb-0 fs-4">{{ $t('Unlimited choice')}}</h3>
            <p>{{ $t('An environmentally-friendly logistics solution for delivering your goods throughout France.')}}</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg-icon type="mdi" :path="path3" :size="40" class="bi text-body-secondary flex-shrink-0 me-3"></svg-icon>
          <div>
            <h3 class="fw-bold mb-0 fs-4">{{ $t('100% secure')}}</h3>
            <p>{{ $t('The money is paid to the carrier once the goods have been received by the recipient.')}}</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg-icon type="mdi" :path="path4" :size="40" class="bi text-body-secondary flex-shrink-0 me-3"></svg-icon>
          <div>
            <h3 class="fw-bold mb-0 fs-4">{{ $t('Real-time tracking') }}</h3>
            <p>{{ $t('Stay informed about the status of your order with real-time updates.')}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script lang="ts">
import SvgIcon from '@jamescoyle/vue-icon';
import {mdiClockCheckOutline} from '@mdi/js';
import {mdiLeafCircleOutline} from '@mdi/js';
import {mdiShieldLockOutline} from '@mdi/js';
import {mdiCellphoneMarker} from '@mdi/js';
import {IProduct} from "@/interface/IProduct";
import ProductCard from "@/components/product/ProductCard.vue";

export default {
  name: 'HomeComponent',
  components: {
    ProductCard,
    SvgIcon
  },
  data() {
    return {
      path1: mdiClockCheckOutline,
      path2: mdiLeafCircleOutline,
      path3: mdiShieldLockOutline,
      path4: mdiCellphoneMarker,
      products: [
        {
          name: 'Nom du produit',
          description: 'This is a longer card with supporting text below as a natural lead-in to additional content.',
          picture: "/1.jpg"
        },
        {
          name: 'Nom du produit',
          description: 'This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.',
          picture: "/2.jpg"
        },
        {
          name: 'Nom du produit',
          description: 'This is a longer card with supporting text below as a natural lead-in to additional content.',
          picture: "/3.jpg"
        }
      ] as IProduct[]
    }
  }
}

</script>
