<template>
  <div class="container my-5">
    <h1 class="fw-bold">{{ $t('Modify my profile')}}</h1>
    <hr>
    <update-user-form/>
  </div>
  <div class="container my-5">
    <h1 class="fw-bold">{{ $t('Change my password') }}</h1>
    <hr>
    <update-user-password-form/>
  </div>
</template>

<script lang="ts">

import {defineComponent} from "vue";
import UpdateUserForm from "@/form/user/UpdateUserForm.vue";
import UpdateUserPasswordForm from "@/form/user/UpdateUserPasswordForm.vue";

export default defineComponent({
  components: {UpdateUserPasswordForm, UpdateUserForm}
})
</script>
