@import "bootstrap";

@font-face {
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist-Regular.ttf') format('truetype');
    /* Ajoutez d'autres variantes de la police ici si nécessaire */
  }
@font-face {
    font-family: 'Arimo';
    src: url('./fonts/Arimo-Regular.ttf') format('truetype');
    /* Ajoutez d'autres variantes de la police ici si nécessaire */
  }

#app {
    font-family: 'Arimo', sans-serif;
}

#app .logo-box {
  width: 170px;
}


#app h1 {
    font-family: 'Urbanist', sans-serif;
}

#app a {
    color: #006ce0e7;
    text-decoration: underline;
}

#app a:visited {
    color: #1e1e1e;
}

#app a:hover {
    color: #1e1e1e;
    text-decoration: none;
}


#app .navbar-toggler{
    border: none;
}

#app .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='blue' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

#app .btn {
    font-family: 'Urbanist', sans-serif;
    background-color: #006ce0e7;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

#app .btn:hover {
    opacity: 0.8;
  }

  #app .btn-sm {
    font-family: 'Urbanist', sans-serif;
    background-color: #fff;
    color: #006ce0e7;
    padding: 4px 6px;
    border-style: dashed;
    border-color: #006ce0e7;
    border-radius: 4px;
    cursor: pointer;
  }

#app .sub-menu {
  font-family: 'Urbanist', sans-serif;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#app .card-img-size {
  object-fit: cover;
  width: 100%;
  height: 400px;
  }

#app .light-blue {
  background: rgb(190,218,255);
  background: linear-gradient(180deg, rgba(190,218,255,1) 0%, rgba(223,237,255,0) 50%, rgba(255,255,255,0) 100%);
  z-index: 1;
  position: absolute;
  height: 10px;
}
#app hr {
  border: 2px dotted #333;
  border-style: none none dotted;
  color: #fff;
  background-color: #fff;
}
