<template>
  <div class="container my-5 px-5">
    <h1 class="fw-bold">{{ $t('Login') }}</h1>
    <hr>
    <login-form/>
  </div>
</template>

<script>
import LoginForm from "@/form/auth/LoginForm.vue";

export default {
  name: 'LoginComponent',
  components: {LoginForm},
}
</script>
