<template>
  <div class="container my-5 px-5">
    <h1 class="fw-bold">{{$t('Create an account')}}</h1>
    <hr>
    <p class="text-primary">{{$t('All fields are mandatory.')}}</p>
    <register-form/>
  </div>
</template>

<script lang="ts">

import {defineComponent} from "vue";
import RegisterForm from "@/form/auth/RegisterForm.vue";

export default defineComponent({
  components: {RegisterForm}
})
</script>
