<script>
export default {
  name: 'BaseAdminListing',
  props: {
    limit: {
      type: Number,
      default: 10
    },
    page: {
      type: Number,
      default: 1
    },
    total: {
      type: Number,
      default: 0
    }
  },
  computed: {
    skip() {
      return Number((this.page - 1) * this.limit)
    }
  },
  data() {
    return {
      dataLimit: this.limit
    }
  }
}
</script>

<template>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="mt-5">
            <slot name="title"></slot>
          </h3>
          <p class="mb-4">
            <slot name="description"></slot>
          </p>
          <div class="row my-3">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="dataTable_length">
                <label class="d-flex">
                  Consulter
                  <select v-model="dataLimit" @change="$emit('changeLimit', dataLimit)" name="dataTable_length"
                          aria-controls="dataTable"
                          class="custom-select custom-select-sm form-control form-control-s mx-2">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entrées
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <table aria-label="base admin listing" aria-labelledby="base admin listing" class="table table-sm mb-5 mx-2">
              <thead class="point-table-head">
                <tr class="table-primary">
                <slot name="header"/>
              </tr>
              </thead>
              <tbody class="table-group-divider">
                <slot name="entries"/>
              </tbody>
            </table>
          </div>
          <div class="row mt-3">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                <span>
                   {{ skip + 1 }} à {{ skip + limit }} / {{ total }}
                </span>
              </div>
            </div>
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    <li class="page-item" :class="{
                      disabled: page === 1
                    }">
                      <button :disabled="page === 1" class="page-link" href="#" tabindex="-1" @click="$emit('prev')">
                        Précédent
                      </button>
                    </li>
                    <li class="page-item" :class="{
                      disabled: page === Math.ceil(total / dataLimit)
                    }">
                      <button :disabled="page === Math.ceil(total / dataLimit)" @click="$emit('next')" class="page-link"
                              href="#">Suivant
                      </button>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
