<script lang="ts">
import BaseAdminListing from "@/components/Admin/BaseAdminListing.vue";
import {getSuppliersAndConsumersRequest, IPaginationResult} from "@/api/userRequest";

export default {
  name: 'ClientListingComponent',
  components: {BaseAdminListing},
  data() {
    return {
      deliverymans: [] as IPaginationResult,
      page: 1,
      limit: 10
    }
  },
  methods: {
    changeLimit(limit) {
      this.limit = limit
      this.page = 1
      this.searchDeliver()
    },
    prev() {
      this.page--
      this.searchDeliver()
    },
    next() {
      this.page++
      this.searchDeliver()
    },
    searchDeliver() {
      getSuppliersAndConsumersRequest({
        page: this.page,
        limit: Number(this.limit)
      }).then((res) => {
        this.deliverymans = res
      })
    }
  },
  mounted() {
    this.searchDeliver()
  }
}
</script>

<template>
  <base-admin-listing @prev="prev" @next="next" @change-limit="changeLimit" :limit="limit" :page="page" :total="deliverymans[1]">
    <template #title>{{ $t('Liste des clients') }}</template>
<!--    <template #description>Voici la liste des Fournisseurs/Consommateurs</template>-->
    <template #header>
      <th>{{ $t('Name') }}</th>
      <th>{{ $t('Firstname') }}</th>
      <th>{{ $t('Address') }}</th>
      <th>{{ $t('Email') }}</th>
      <th>{{ $t('Locate') }}</th>
      <!-- <th>{{ $t('Action') }}</th> -->
    </template>
    <template #entries>
      <tr :key="supplier._id" v-for="supplier in deliverymans[0]">

        <td>{{supplier.lastname}}</td>
        <td>{{supplier.firstname}}</td>
        <td>{{supplier.address}}</td>
        <td>{{supplier.email}}</td>
        <td>{{supplier.humanizeRole}}</td>
        <!-- <td>{{supplier.humanizeRole}}</td> -->
      </tr>
    </template>
  </base-admin-listing>
</template>

<style scoped>

</style>
