<script lang="ts">
import {IProduct} from "@/interface/IProduct";

export default {
  name: 'ProductCard',
  props: {
    product: {
      type: Object as () => IProduct,
      required: true
    }
  }
}
</script>

<template>
  <div class="card border-secondary h-100">
    <img :src="product.picture" class="card-img-top card-img-size" alt="...">
    <div class="card-body bg-light">
      <h5 class="card-title">{{ product.name }}</h5>
      <p v-if="product.description" class="card-text">{{ product.description }}</p>
      <p v-if="product.size" class="card-text">Format : {{ product.size }}</p>
      <p v-if="product.travel" class="card-text">Destination : {{ product.travel }}</p>
      <p v-if="product.price" class="card-text">Prix : {{ product.price }}</p>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start bg-light">
      <button class="btn btn-warning mx-2 my-2" type="button">Livrer</button>
    </div>
  </div>
</template>
