<script>
import {getNested} from "@/util/ObjectUtil";
import AddressIcons from "@/components/icons/AddressIcons.vue";
import AgendaIcons from "@/components/icons/AgendaIcons.vue";
import FormatIcons from "@/components/icons/FormatIcons.vue";
import moment from "moment";
import NoObjectImage from "@/components/icons/NoObjectImage.vue";

export default {
  name: 'SearchRideCardListComponent',
  computed: {
    moment() {
      return moment
    }
  },
  components: {NoObjectImage, FormatIcons, AgendaIcons, AddressIcons},
  methods: {getNested},
  props: {
    orders: {
      type: Array,
      required: true
    }
  }
}
</script>

<template>
  <div v-for="(order, index) in orders" :key="index" class="card">
    <div class="row g-0">
      <div class="col-md-3 mx-auto text-center m-auto">
        <no-object-image/>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="col-12">
            <div class="d-flex">
              <p class="card-text me-auto d-inline-block fw-bold">
                {{ $t('{itemsLength} object(s) to transport', {itemsLength: order.items.length}) }}</p>
              <h5 class="card-text ms-auto text-end d-inline-block text-primary">{{ order.price }} €</h5>
            </div>


            <p class="card-text" style="font-size: 14px">
              <format-icons/>
              <span class="ms-1">{{ getNested(order, 'itemsVolume') }}m <sup>3</sup></span>
            </p>

            <p class="card-text" style="font-size: 14px">
              <address-icons/>
              {{ $t('From') }}
              <span>{{ getNested(order, 'transport.fromAddress.address.city') }}</span>
              <span>({{ getNested(order, 'transport.fromAddress.address.postcode') }})</span>
              {{ $t('To') }}
              <span>{{ getNested(order, 'transport.toAddress.address.city') }}</span>
              <span>({{ getNested(order, 'transport.toAddress.address.postcode') }})</span>
            </p>

            <p class="card-text" style="font-size: 14px">
              <agenda-icons/>
              {{
                $t('to be delivered between {startAt} and {endAt}', {
                  startAt: moment(getNested(order, 'startDate')).format('DD MMM'),
                  endAt: moment(getNested(order, 'endDate')).format('DD MMM')
                })
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
