<script lang="ts">
import {latLng} from "leaflet";
import {LMap, LMarker, LPopup, LTileLayer, LTooltip} from "@vue-leaflet/vue-leaflet";
import proj4 from "proj4";

export default {
  name: 'SearchRideMapComponent',
  components: {
    LPopup, LMarker, LMap, LTileLayer, LTooltip
  },
  props: {
    orders: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      zoom: 7,
      center: latLng(46.365884, 2.753039),
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution:
          '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      withPopup: latLng(47.41322, -1.219482),
      withTooltip: latLng(47.41422, -1.250482),
      //"x": 907788.41, "y": 6467745.85
      currentZoom: 7,
      currentCenter: latLng(47.41322, -1.219482),
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5
      },
      showMap: true,
      markers: []
    };
  },
  methods: {
    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    },
    centerUpdate(center) {
      this.currentCenter = center;
    }
  },
  watch: {
    orders: {

      handler: function (val, oldVal) {
        this.markers = []
        val.forEach((order, index) => {
            let lambert93 = '+proj=lcc +lat_1=49 +lat_2=44 +lat_0=46.5 +lon_0=3 +x_0=700000 +y_0=6600000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs';
            let wgs84 = '+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs';
            let projectedCoordinates = proj4(lambert93, wgs84, [order.transport.fromAddress.address.x, order.transport.fromAddress.address.y]);
            let latitude = projectedCoordinates[1];
            let longitude = projectedCoordinates[0];
          this.markers.push( {
            key: index,

            latLng: latLng(latitude, longitude)
          })
        })
      },
      deep: true
    }
  }
}
</script>

<template>
  <l-map
      :zoom="zoom"
      :center="center"
      :options="mapOptions"
      @update:center="centerUpdate"
      @update:zoom="zoomUpdate"
  >
    <l-tile-layer
        :url="url"
        :attribution="attribution"
    />
    <l-marker v-for="marker in markers" :key="marker.key" :lat-lng="marker.latLng">
    </l-marker>
  </l-map>
</template>

<style scoped>

</style>
