<template>
  <div class="container-fluid">
    <div class="row min-vh-100">
      <div class="col-5 p-0 overflow-auto" style="max-height: calc(100vh - 79px)">
        <search-ride-card-list-component :orders="orders"/>
      </div>
      <div class="col-7 p-0" style="max-height: calc(100vh - 79px)">
        <div class="h-100 w-100">
          <search-ride-map-component :orders="orders"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'leaflet/dist/leaflet.css';
import SearchRideMapComponent from "@/components/Ride/Search/SearchRideMapComponent.vue";
import SearchRideCardListComponent from "@/components/Ride/Search/SearchRideCardListComponent.vue";


export default {
  name: 'SearchRideComponent',
  components: {SearchRideCardListComponent, SearchRideMapComponent},
  props: {
    orders: {
      type: Array,
      required: true
    }
  }
}
</script>
