<template>
  <svg viewBox="0 0 24 24" style="width: 16px; height: 16px">
    <g>
      <path d="M18.749 6.375a.817.817 0 01-.131-.011 1.125 1.125 0 01-.982-.983.698.698 0 010-.26c.06-.513.47-.923.982-.983a.717.717 0 01.262 0c.513.06.922.47.983.983a.796.796 0 010 .26c-.061.513-.47.923-.983.983a.817.817 0 01-.131.011z"></path>
      <path d="M18.748 13.426a1.489 1.489 0 01-1.182-.577c-1.855-2.373-4.067-5.618-4.067-7.598 0-2.895 2.355-5.25 5.25-5.25s5.25 2.355 5.25 5.25c0 1.983-2.212 5.227-4.068 7.6a1.493 1.493 0 01-1.183.575zM18.749 1.5a3.754 3.754 0 00-3.75 3.75c0 1.159 1.437 3.717 3.75 6.676 2.313-2.957 3.75-5.515 3.75-6.676a3.754 3.754 0 00-3.75-3.75zM.749 24a.74.74 0 01-.689-.455.747.747 0 01-.007-.574l6-15a.746.746 0 01.976-.417.747.747 0 01.417.975l-6 15A.747.747 0 01.749 24zm21 0a.744.744 0 01-.696-.472l-3-7.5a.747.747 0 01.418-.975.745.745 0 01.974.419l3 7.5a.747.747 0 01-.418.975.75.75 0 01-.278.053zm-10.5 0a.75.75 0 01-.75-.75v-1.5a.75.75 0 011.5 0v1.5a.75.75 0 01-.75.75zm0-6a.75.75 0 01-.75-.75v-1.5a.75.75 0 011.5 0v1.5a.75.75 0 01-.75.75zm0-6a.75.75 0 01-.75-.75v-1.5a.75.75 0 011.5 0v1.5a.75.75 0 01-.75.75z"></path>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'AddressIcons'
}
</script>
