<template>
  <svg viewBox="0 0 24 24" style="width: 16px; height: 16px">
    <g>
      <path
          d="M12 24a.72.72 0 01-.225-.037.426.426 0 01-.054-.017l-11.25-4.5A.745.745 0 010 18.75V5.25a.748.748 0 01.244-.55 1.504 1.504 0 01.086-.071.571.571 0 01.087-.049.662.662 0 01.053-.026l11.251-4.5a.74.74 0 01.558 0l11.249 4.5a.489.489 0 01.052.025.641.641 0 01.134.084l.036.031a.722.722 0 01.094.102c.016.022.031.042.044.064a.798.798 0 01.112.39v13.5a.747.747 0 01-.472.697l-11.25 4.5A.761.761 0 0112 24zm.75-1.858l9.75-3.9V6.358l-9.75 3.9v11.884zm-1.5 0V10.258l-9.75-3.9v11.885l9.75 3.899zm.75-13.2l4.168-1.667-9.23-3.692L2.77 5.25 12 8.942zm6.187-2.475L21.23 5.25 12 1.558 8.957 2.775l9.23 3.692z"></path>
      <path
          d="M18.75 18a.744.744 0 01-.696-.472.747.747 0 01.418-.975l1.875-.75a.744.744 0 01.974.418.747.747 0 01-.418.975l-1.875.75a.732.732 0 01-.278.054z"></path>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'FormatIcons'
}
</script>
