<template>
  <svg width="140" height="105" xmlns="http://www.w3.org/2000/svg">
    <g fill="none" fill-rule="evenodd">
      <path fill="#E5E5ED" d="M0 0h140v105H0z"/>
      <g fill-rule="nonzero" opacity=".401" fill="#A8A8BF">
        <path
            d="M69.466 30.103l-21.562 8.625c-1.205.482-1.205 2.187 0 2.67l21.562 8.624c.343.137.725.137 1.068 0l21.562-8.625c1.205-.482 1.205-2.187 0-2.67l-21.562-8.624a1.438 1.438 0 00-1.068 0zM70 32.986l17.692 7.077L70 47.139l-17.692-7.076L70 32.986z"/>
        <path
            d="M47 40.063v25.874c0 .588.358 1.117.904 1.335l21.562 8.625a1.437 1.437 0 001.972-1.335V48.689c0-.588-.358-1.117-.904-1.335L48.97 38.728A1.437 1.437 0 0047 40.063zm2.875 2.123l18.688 7.475v22.778l-18.688-7.475V42.186z"/>
        <path
            d="M91.029 38.728A1.437 1.437 0 0193 40.063v25.874c0 .588-.358 1.117-.904 1.335l-21.562 8.625a1.437 1.437 0 01-1.972-1.335V48.689c0-.588.358-1.117.904-1.335l21.563-8.625zM71.438 49.66v22.778l18.687-7.475V42.186L71.437 49.66z"/>
        <path
            d="M82.392 42.61L60.83 33.983a1.438 1.438 0 00-1.068 2.67l21.563 8.624a1.437 1.437 0 101.067-2.669zm3.605 17.68l-3.593 1.438a1.437 1.437 0 101.067 2.67l3.594-1.438a1.437 1.437 0 10-1.068-2.67z"/>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'NoObjectImage'
}
</script>
