<script lang="ts">
import {IOrderItem} from "@/interface/Order/IOrderItem";
import {useOrderStore} from "@/stores/orderStore";
import {RideNewTransportRoute} from "@/config/FrontRoute";
import {addItemToOrder, getItemsWeightList, removeItemFromOrder, validateItems} from "@/api/order/orderItemRequest";

export default {
  name: 'NewRideItemForm',
  data() {
    return {
      weights: []
    }
  },
  setup() {
    const orderStore = useOrderStore()
    return {orderStore}
  },
  mounted() {
    getItemsWeightList().then((weights) => {
      this.weights = weights
    })
  },
  methods: {
    addItem() {
      addItemToOrder().then((order) => {
        this.orderStore.addItem(order.newItem)
      })
    },
    removeItem(item: IOrderItem) {
      removeItemFromOrder(item.id).then(() => {
        this.orderStore.removeItem(item)
      })
    },
    submit() {
      validateItems(this.orderStore.items).then((order) => {
        this.orderStore.setOrder(order)
        this.$router.push({name: RideNewTransportRoute})
      })
    }
  }
}
</script>

<template>
  <div class="container">
    <form @submit.prevent="submit" action="">
      <div class="row card border border-0" v-for="(item, index) in orderStore.items" :key="index">
        <div class="row my-3">
          <div class="col-sm-9 .col-md-8">
            <div class="form-group">
              <label :id="'name_'+index" class="my-2 fs-5">{{ $t('Name of the object') }} <span>*</span></label>
              <input type="text" :placeholder="$t('guitar, armchair, scooter not stolen')" class="form-control"
                     :id="'name_'+index" v-model="item.name" required>
            </div>
          </div>
          <div class="col-sm-3 .col-md-8">
            <div class="form-group">
              <label :for="'quantity_'+index" class="my-2 fs-5">{{ $t('Quantity') }} <span>*</span></label>
              <input type="number" class="form-control" :id="'quantity_'+index" :name="'quantity_'+index"
                     v-model="item.quantity" required>
            </div>
          </div>
        </div>

        <div v-if="orderStore.items?.length > 1" class="row ms-1 mb-3">
          <button class="btn btn-outline-primary btn-sm col-1 " type="button" @click="removeItem(item)">{{
              $t('Remove')
            }}
          </button>
        </div>

        <template v-if="item.name">

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label :id="'length_'+index" class="my-2 fs-5">{{ $t('Length (cm)') }} <span>*</span></label>
                <input type="text" class="form-control"
                       :id="'length_'+index" :name="'length_'+index" v-model="item.length" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label :id="'width_'+index" class="my-2 fs-5">{{ $t('Width (cm)') }} <span>*</span></label>
                <input type="text" class="form-control"
                       :id="'width_'+index" :name="'width_'+index" v-model="item.width" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label :id="'height_'+index" class="my-2 fs-5">{{ $t('Height (cm)') }} <span>*</span></label>
                <input type="text" class="form-control mb-4"
                       :id="'height_'+index" :name="'height_'+index" v-model="item.height" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4" v-for="(weight, weightIndex) in weights" :key="weightIndex">
              <div class="form-check">
                <input class="form-check-input" required :value="weight.value" v-model="item.weight" type="radio"
                       :id="'weights'+index" :name="'weights'+index">
                <label class="form-check-label" :for="'weights'+index">
                  {{ weight.label }}
                </label>
                <span class="ms-2">{{ weight.description }}</span>
              </div>
            </div>
          </div>
        </template>
        <hr class="my-3">
      </div>

      <div class="row mt-3 mb-4 ps-2">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-2 p-0">
          <button type="button" class="btn btn-primary" @click="addItem">{{ $t('Add an object')}}</button>
        </div>
      </div>
      <hr class="my-3">
      <div class="row mb-5 ps-2">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start p-0">
          <button type="submit" class="btn btn-primary">{{ $t('Validate my request')}}</button>
        </div>
      </div>
    </form>
  </div>
</template>
