<script lang="ts">
import {useOrderStore} from "@/stores/orderStore";
import {validateOrderExtra} from "@/api/order/orderRequest";
import {RideNewPriceRoute} from "@/config/FrontRoute";
import type {IOrderExtra} from "@/interface/Order/IOrderExtra";

export default {
  name: 'NewRideExtraForm',
  setup() {
    const orderStore = useOrderStore()
    return {orderStore}
  },
  methods: {
    submit() {
      validateOrderExtra(this.orderStore.extra as IOrderExtra).then(() => {
        this.$router.push({name: RideNewPriceRoute})
      })
    },
  }
}
</script>

<template>
  <form @submit.prevent="submit">
    <div class="mb-3">
      <div class="form-floating">
          <textarea class="form-control" id="extraInformation" name="extraInformation"
                    v-model="this.orderStore.extra.extraInformation"></textarea>
        <label for="floatingTextarea2">{{ $t('Please enter your comment') }}</label>
      </div>
    </div>

    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" name="passenger" id="passenger" class="form-check-input"
               v-model="this.orderStore.extra.passenger">
        <label for="passenger" class="form-check-label">{{ $t('Do you need to travel with objects?') }}</label>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start p-0 mt-2 mb-3">
      <button class="btn btn-primary">{{ $t('Next') }}</button>
    </div>
  </form>
</template>
