<script lang="ts">
import {useOrderStore} from "@/stores/orderStore";
import {updatePrice} from "@/api/order/orderRequest";
import {RideNewDatesRoute} from "@/config/FrontRoute";

export default {
  name: 'NewRidePriceForm',
  setup() {
    const orderStore = useOrderStore()
    return {orderStore}
  },
  methods: {
    submit() {
      updatePrice(this.orderStore.price as Number)
      this.$router.push({name: RideNewDatesRoute})
    },
    increment() {
      this.orderStore.price += 1
    },
    decrement() {
      if (this.orderStore.price > 1)
        this.orderStore.price -= 1
    }
  }
}
</script>

<template>
  <form @submit.prevent="submit">
    <label for="price" class="">{{ $t('Price :') }}</label>
    <div class="input-group my-3">
      <div class="mb-3 me-3">
        <input type="number" name="price" id="price" class="form-control me-2" v-model="orderStore.price">
      </div>
      <div class="">
        <button type="button" class="btn btn-outline-secondary me-2" @click="decrement"> -</button>
        <button type="button" class="btn btn-outline-secondary" @click="increment"> +</button>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start p-0 mt-2 mb-3">
      <button class="btn btn-primary">{{ $t('Next')}}</button>
    </div>
  </form>
</template>
