<script lang="ts">
import {useOrderStore} from "@/stores/orderStore";
import {updateDeliveryDate} from "@/api/order/orderRequest";
import {userStore} from "@/stores/userStore";
import {HomeRoute, LoginRoute, RideNewDatesRoute} from "@/config/FrontRoute";
import {successToast} from "@/components/toast/toast";
import {useCookies} from "vue3-cookies";

export default {
  name: 'NewRideDatesForm',

  data() {
    return {
      LoginRoute: LoginRoute,
      RideNewDatesRoute: RideNewDatesRoute
    }
  },
  setup() {
    const orderStore = useOrderStore()
    return {orderStore}
  },
  computed: {
    isAuth(): boolean {
      return userStore().authenticated;
    }
  },
  methods: {
    submit() {
      if (this.orderStore.startDate && this.orderStore.endDate) {
        updateDeliveryDate(this.orderStore.startDate, this.orderStore.endDate)
        const {cookies} = useCookies()
        cookies.remove('cartToken')
        this.$router.push({name: HomeRoute})
        successToast(this.$t('Your request of transport has been successfully sent'))
      }
    },
  }
}
</script>

<template>
  <form @submit.prevent="submit">
    <div class="md-form md-outline input-with-post-icon datepicker mb-3">
      <label for="startDate" class="mb-3">{{ $t('Between the:') }}</label>
      <input type="date" name="startDate" id="startDate" class="form-control" v-model="orderStore.startDate" required>
      <i class="fas fa-calendar input-prefix"></i>
    </div>
    <div class="md-form md-outline input-with-post-icon datepicker mb-3">
      <label for="startDate" class="mb-3">{{ $t('and the:') }}</label>
      <input type="date" name="endDate" id="endDate" class="form-control" v-model="orderStore.endDate" required>
      <i class="fas fa-calendar input-prefix"></i>
    </div>
    <button v-if="isAuth" class="btn btn-primary">{{ $t('Next')}}</button>
    <router-link v-else class="btn btn-primary text-white text-decoration-none" :to="{name:LoginRoute, query: {redirectTo: RideNewDatesRoute}}">
      {{ $t('Registration or login') }}
    </router-link>
  </form>
</template>
