<script lang="ts">
import {getAddressStatusList, validateAddress} from "@/api/order/orderAddressRequest";
import {useOrderStore} from "@/stores/orderStore";
import AddressInput from "@/components/ui/input/AddressInput.vue";
import {RideNewExtraRoute} from "@/config/FrontRoute";

export default {
  name: 'NewTransportRideForm',
  components: {AddressInput},
  setup() {
    const orderStore = useOrderStore()
    return {orderStore}
  },
  data() {
    return {
      addressStatusList: [],
    }
  },
  mounted() {
    getAddressStatusList().then((response) => {
      this.addressStatusList = response
    })
  },
  methods: {
    submit() {
      validateAddress(this.orderStore.transport).then((r) => {
        this.orderStore.updatePrice(r.price)
        this.$router.push({name: RideNewExtraRoute})
      })
    }
  }

}
</script>

<template>
  <form @submit.prevent="submit">
    <div class="row px-2 mt-2">
      <p class="fs-5">{{ $t('I am a ...') }}</p>
      <div class="form-check" v-for="(radio, index) in addressStatusList" :key="index">
        <div class="mb-3 px-2">
          <input class="form-check-input" type="radio" name="address_status" :id="radio.value"
                 :value="radio.value" required v-model="this.orderStore.transport.status">
          <label class="form-check-label" :for="radio.value">{{ radio.label }}</label>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="mb-3">
        <h2>{{ $t('Departure :') }}</h2>
        <address-input :storeValue="this.orderStore.transport.fromAddress.address.fullAddress"
                       @select-address="(data) => this.orderStore.transport.fromAddress.address = data"
                       placeholder="12 place du Panthéon, 75005, Paris"/>
      </div>

      <div class="mb-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="from_address_flexible"
                 v-model="this.orderStore.transport.fromAddress.flexible">
          <label class="form-check-label" for="from_address_flexible">{{ $t('Flexible starting point') }}</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="from_address_help"
                 v-model="this.orderStore.transport.fromAddress.help">
          <label class="form-check-label" for="from_address_help">{{ $t('Need help carrying the good(s)') }}</label>
        </div>
      </div>

      <div class="my-4">
        <h2>{{ $t('Arrival :') }}</h2>
        <div>
          <address-input :storeValue="this.orderStore.transport.toAddress.address.fullAddress"
                         @select-address="(data) => this.orderStore.transport.toAddress.address = data"
                         placeholder="12 place du Panthéon, 75005, Paris"/>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="to_address_flexible"
                 v-model="this.orderStore.transport.toAddress.flexible">
          <label class="form-check-label" for="to_address_flexible">{{ $t('Flexible starting point') }}</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="to_address_help"
                 v-model="this.orderStore.transport.toAddress.help">
          <label class="form-check-label" for="to_address_help">{{ $t('Need help carrying the good(s)') }}</label>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start p-0 mt-2 mb-3">
      <button class="btn btn-primary">{{ $t('Next')}}</button>
    </div>
  </form>
</template>
