<template>
  <login-component />
</template>

<script lang="ts">
import LoginComponent from "@/components/auth/LoginComponent.vue";

export default {
  name: "LoginView",
  components: {
    LoginComponent
  }
};
</script>
