<template>
  <RegisterComponent />
</template>

<script lang="ts">
  import RegisterComponent from '@/components/auth/RegisterComponent.vue'

  export default {
    name: 'RegisterView',
    components: {
      RegisterComponent
    }
  }
</script>
