<script lang="ts">
import makeGeocodeRequest, {IGeocodeFeature} from "@/api/makeGeocodeRequest";

export default {
  name: 'AddressInput',
  emits: ['selectAddress'],
  data() {
    return {
      address: null as string | null,
      choices: null as IGeocodeFeature[] | null,
      timeout: null as number | null,
      loading: false
    }
  },
  props: {
    placeholder: {
      type: String,
      default: 'Adresse'
    },
    storeValue: {
      type: String,
      default: null
    }
  },
  mounted() {
    this.address = this.storeValue
  },
  methods: {
    makeAddressRequest() {
      if (!this.address || this.address && this.address.length < 3) return;
      this.loading = true
      const address = this.address
      if (this.timeout) clearTimeout(this.timeout)

      this.timeout = setTimeout(() => {
        makeGeocodeRequest(address).then((response) => {
          this.loading = false
          this.choices = response.features
        })
      }, 500)
    },
    cleanInput() {
      if (!this.address) {
        this.choices = null
        this.address = null
      }
    },
    selectAddress(address: IGeocodeFeature) {
      this.address = address.properties.label
      this.choices = null
      this.$emit('selectAddress', {
        city: address.properties.city,
        postcode: address.properties.postcode,
        street: address.properties.street,
        housenumber: address.properties.housenumber,
        x: address.properties.x,
        y: address.properties.y,
        fullAddress: address.properties.label
      })
    }
  }
}
</script>

<template>
  <input required type="text" class="form-control" :placeholder="placeholder" v-model="address" @input="makeAddressRequest" @change="cleanInput">
  <div>
    <div v-if="loading">{{ $t('Loading...')}}</div>
    <div v-else-if="choices">
      <div role="button" @click="selectAddress(choice)" v-for="choice in choices" :key="choice.properties.id">
        {{choice.properties.label}}
      </div>
    </div>
  </div>
</template>
