<script lang="ts">
import NewRideExtraForm from "@/form/ride/NewRideExtraForm.vue";
import NewRideSummary from "@/components/Ride/NewRideSummary.vue";
import {RideNewTransportRoute} from "@/config/FrontRoute";

export default {
  name: 'NewItemExtraComponent',
  components: {NewRideSummary, NewRideExtraForm},
  computed: {
    RideNewTransportRoute() {
      return RideNewTransportRoute
    }
  }
}
</script>

<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8">
        <router-link class="text-primary" :to="{name: RideNewTransportRoute}">{{ $t('Back') }}</router-link>
        <h1 class="fw-bold mt-4">{{ $t('Additional information')}}</h1>
        <hr>
        <p class="text-primary">{{ $t('Please note that this information is public. To protect your privacy, please do not include your contact details  (e-mail address, telephone number or address).')}}</p>
        <div class="card my-5 p-3">
          <new-ride-extra-form/>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <new-ride-summary/>
      </div>
    </div>
  </div>
</template>
