<script lang="ts">
import {RideNewPriceRoute} from "@/config/FrontRoute";
import NewRideSummary from "@/components/Ride/NewRideSummary.vue";
import NewRideDatesForm from "@/form/ride/NewRideDatesForm.vue";

export default {
  name: 'NewItemDatesComponent',
  components: {NewRideDatesForm, NewRideSummary},
  computed: {
    RideNewPriceRoute() {
      return RideNewPriceRoute
    }
  }
}
</script>

<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8">
        <router-link class="text-primary" :to="{name: RideNewPriceRoute}">{{$t('Back')}}</router-link>
        <h1 class="fw-bold mt-4">{{ $t('Delivery dates') }}</h1>
        <hr class="mb-5">
        <div class="card my-3 p-3">
          <new-ride-dates-form/>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <new-ride-summary/>
      </div>
    </div>
  </div>
</template>
