<script lang="ts">
import NewRideItemForm from "@/form/ride/NewRideItemForm.vue";

export default {
  name: 'NewItemComponent',
  components: {NewRideItemForm}
}
</script>

<template>
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <h1 class="fw-bold">{{ $t('Object to be transported')}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr>
        <p class="text-primary">{{$t('Add as many objects as you like!')}}</p>
      </div>
    </div>

    <new-ride-item-form/>
  </div>
</template>
