<script lang="ts">


import {RideNewExtraRoute} from "@/config/FrontRoute";
import NewRidePriceForm from "@/form/ride/NewRidePriceForm.vue";
import NewRideSummary from "@/components/Ride/NewRideSummary.vue";

export default {
  name: 'NewItemPriceComponent',
  components: {NewRideSummary, NewRidePriceForm},
  computed: {
    RideNewExtraRoute() {
      return RideNewExtraRoute
    }
  }
}
</script>

<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8">
        <router-link class="text-primary" :to="{name: RideNewExtraRoute}">{{ $t('Back') }}</router-link>
        <h1 class="fw-bold mt-4">{{ $t("What's your budget?") }}</h1>
        <hr>
        <p class="text-primary">{{
            $t('The price generally quoted by drivers is €0.50/km. You can change this at your convenience.')}}</p>
        <div class="card my-5 p-3">
          <new-ride-price-form/>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <new-ride-summary/>
      </div>
    </div>
  </div>
</template>
