<script lang="ts">
import {useOrderStore} from "@/stores/orderStore";
import {getNested} from "@/util/ObjectUtil";

export default {
  name: 'NewRideSummary',
  methods: {getNested},
  setup() {
    const orderStore = useOrderStore()
    return {orderStore}
  },
}
</script>

<template>
  <div class="container">
    <div class="row card mb-3 p-3 mt-sm-5">
      <div class="mb-2">
        <h2>{{ $t('Summary') }}</h2>
        <hr>
      </div>

      <div class="mb-2">
        <h5>{{ $t('Designation') }}</h5>
        <div>
          <div class="row" v-for="(item, index) in orderStore.items" :key="index">
            <div class="my-1">
              <div class="row">
                <div class="col-12">{{ 1 + index }}. {{ item.quantity }}x {{ item.name }}</div>
              </div>
              <div class="row">
                <div class="col-12">{{ item.length }}x{{ item.width }}x{{ item.height }}, {{ $t(item.weight) }}</div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>

      <div v-if="orderStore.transport.status" class="mb-2">
        <h5>{{ $t('Status') }}</h5>
        <p>{{ $t('I am a {status}', {status: orderStore.transport.status}) }}</p>
        <hr>
      </div>

      <div v-if="getNested(orderStore, 'transport.fromAddress.address.city', false)" class="mb-2">
        <h5>{{ $t('Start address') }}</h5>
        <p>{{ getNested(orderStore, 'transport.fromAddress.address.fullAddress') }}</p>

        <small v-if="getNested(orderStore, 'transport.fromAddress.flexible', false)">{{
            $t('Possibility of handing over the goods to (co)carrier')
          }}</small>

        <div>
          <small v-if="getNested(orderStore, 'transport.fromAddress.help', false)">{{
              $t('Need help loading goods')
            }}</small>
          <small v-else>{{ $t('Pick-up from vehicle') }}</small>
        </div>
        <hr>
      </div>

      <div v-if="getNested(orderStore, 'transport.toAddress.address.city', false)" class="mb-2">
        <h5>{{ $t('Arrival address') }}</h5>
        <p>{{ getNested(orderStore, 'transport.toAddress.address.fullAddress') }}</p>

        <small v-if="getNested(orderStore, 'transport.toAddress.flexible', false)">{{
            $t('Possibility of handing over the goods to (co)carrier')
          }}</small>

        <div>
          <small v-if="getNested(orderStore, 'transport.toAddress.help', false)">{{
              $t('Need help loading goods')
            }}</small>
          <small v-else>{{ $t('Pick-up from vehicle') }}</small>
        </div>
        <hr>
      </div>

      <div class="my-2" v-if="orderStore.extra.extraInformation">
        <h5>{{ $t('Additional information') }}</h5>
        <p>{{ orderStore.extra.extraInformation }}</p>
        <hr>
      </div>

      <div v-if="orderStore.price">
        <h5>{{ $t('Suggested rate')}}</h5>
        <h5 class="text-primary">{{ orderStore.price ? orderStore.price + '€' : '-' }}</h5>
      </div>
    </div>
  </div>
</template>
