<script lang="ts">
import NewRideSummary from "@/components/Ride/NewRideSummary.vue";
import NewTransportRideForm from "@/form/ride/NewTransportRideForm.vue";
import {RideNewItemsRoute} from "@/config/FrontRoute";

export default {
  name: 'NewTransportRideComponent',
  components: {NewTransportRideForm, NewRideSummary},
  computed: {
    RideNewItemsRoute() {
      return RideNewItemsRoute
    }
  }
}
</script>

<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8">
        <router-link class="text-primary" :to="{name: RideNewItemsRoute}">{{ $t('Back') }}</router-link>
        <h1 class="fw-bold mt-4">{{ $t('Addresses') }}</h1>
        <hr>
        <p class="text-primary">{{ $t('Exact addresses are communicated to the carrier once the reservation has been made.')}}</p>
        <div class="card mt-5 mb-3 p-3">
          <new-transport-ride-form/>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <new-ride-summary/>
      </div>
    </div>
  </div>
</template>
