<script>
import AppNavbar from "@/components/app/AppNavbar.vue";
import AppFooter from "@/components/app/AppFooter.vue";

export default {
  name: 'App',
  components: {AppFooter, AppNavbar},
}
</script>

<template>
  <app-navbar/>
  <router-view />
  <footer class="py-3 my-4">
    <app-footer/>
  </footer>
</template>
