<template>
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">{{$t('About us')}}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">{{ $t('Terms of use') }}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">{{ $t('CGV/ CGU') }}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">{{ $t('FAQ') }}</a></li>
    </ul>
    <p class="text-center text-body-secondary">© {{ $t('2023 Transporters, Inc.') }}</p>
  </div>
</template>
<script lang="ts">
export default {
  name: 'AppFooter',
}
</script>
