<template>
  <nav class="navbar navbar-expand-xl border-bottom shadow">
    <div class="container-fluid m-2">
      <router-link class="nav-link text-decoration-none navbar-brand" :to="{'name': HomeRoute}">
        <img src="@/assets/logo.png" class="d-inline-block align-text-top logo-box" alt="transporter-icon">
      </router-link>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link class="nav-link text-decoration-none" :to="{'name': RideNewItemsRoute}">{{
                $t('Send a parcel')
              }}
            </router-link>
          </li>
          <li v-if="!isDeliveryman" class="nav-item dropdown px-1">
            <a class="nav-link dropdown-toggle text-decoration-none" href="#" id="navbarDarkDropdownMenuLink"
               role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              {{ $t('Carrier') }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li>
                <router-link class="dropdown-item text-decoration-none" :to="{name: RideSearchRoute}">{{
                    $t('See the ads')
                  }}
                </router-link>
              </li>
            </ul>
          </li>
<!--          <li class="nav-item">-->
<!--            <router-link class="nav-link text-decoration-none"-->
<!--                         :to="{'name': isDeliveryman ? RideSearchRoute : AdsRoute}">{{ $t('Advertisements') }}-->
<!--            </router-link>-->
<!--          </li>-->
        </ul>
        <ul class="navbar-nav nav-underline me-end mb-2 mb-lg-0"
        >
          <li class="nav-item dropdown">
            <div style="cursor: pointer" class="dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                 data-bs-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
              {{ $t('My account')}}
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <div v-if="!isAuth">
                <router-link class="dropdown-item text-decoration-none" :to="{'name': LoginRoute}">
                  {{ $t('Connection') }}
                </router-link>
                <router-link class="dropdown-item text-decoration-none" :to="{'name': RegisterRoute}">
                  {{ $t('Registration')}}
                </router-link>
              </div>
              <div v-else>
                <router-link class="dropdown-item text-decoration-none" :to="{'name': ProfileRoute}">
                  {{ $t('Profile') }}
                </router-link>
                <div v-if="isAdmin">
                  <router-link class="dropdown-item text-decoration-none text-warning " :to="{'name': AdminHomeRoute}">
                    {{ $t('Admin area') }}
                  </router-link>
                </div>
                <router-link class="dropdown-item text-decoration-none" to="/" @click="logout">
                  {{ $t('Disconnect') }}
                </router-link>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import {userStore} from "@/stores/userStore";
import {successToast} from "@/components/toast/toast";
import {
  HomeRoute,
  RideNewItemsRoute,
  InProgressRoute,
  AdsRoute,
  LoginRoute,
  ProfileRoute,
  RegisterRoute,
  AdminRoute, AdminHomeRoute, RideSearchRoute
} from "@/config/FrontRoute";

export default {
  name: 'AppNavbar',
  data() {
    return {
      HomeRoute: HomeRoute,
      RideNewItemsRoute: RideNewItemsRoute,
      InProgressRoute: InProgressRoute,
      AdsRoute: AdsRoute,
      LoginRoute: LoginRoute,
      RegisterRoute: RegisterRoute,
      ProfileRoute: ProfileRoute,
      AdminRoute: AdminRoute,
      AdminHomeRoute: AdminHomeRoute,
      RideSearchRoute: RideSearchRoute
    }
  },

  computed: {
    isAuth(): boolean {
      return userStore().authenticated;
    },
    isAdmin(): boolean {
      return userStore().user.isAdmin
    },
    isDeliveryman(): boolean {
      return userStore().user.isDeliveryman
    },
  },
  methods: {
    logout(): void {
      userStore().logout()
      successToast('Vous êtes déconnecté!')
    }
  }
}
</script>
