<template>
  <profile-view-component />
</template>

<script lang="ts">
import ProfileViewComponent from "@/components/ProfileViewComponent.vue";

export default {
  name: "ProfileView",
  components: {
    ProfileViewComponent
  }
};
</script>
