<template>
  <form @submit.prevent="login" class="mt-4">
    <div class="mb-3 my-2">
      <label for="email" class="form-label fs-5">{{ $t('Email') }}</label>
      <input type="email" :placeholder="$t('Please enter your email')" class="form-control" aria-describedby="emailHelp"
             v-model="email" required>
    </div>
    <div class="mb-3 my-2">
      <label for="pwd" class="form-label fs-5">{{ $t('Password') }}</label>
      <input type="password" :placeholder="$t('Enter password')" class="form-control" v-model="password" required>
    </div>
    <div class="mb-3 form-check my-2">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">{{ $t('Remember me') }}</label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button type="submit" class="btn btn-primary mt-4">{{ $t('Login') }}</button>
    </div>

  </form>
  <hr class="mt-5">
  <p>{{ $t('Not registered yet?') }}
    <router-link :to="{'name':RegisterRoute}">{{ $t('Create your account now!') }}</router-link>
  </p>
  <div class="alert alert-info" role="alert">
    <div>Admin: <span>admin@gmail.com 123456</span></div>
    <div>Livreur: <span>deliveryman@gmail.com 123456</span></div>
    <div>Participant: <span>individual@gmail.com 123456</span></div>
  </div>
</template>

<script lang="ts">
import {loginRequest} from "@/api/authRequest";
import {userStore} from "@/stores/userStore";
import {errorToast, successToast} from "@/components/toast/toast";
import {RegisterRoute, HomeRoute, AdminHomeRoute} from "@/config/FrontRoute";

export default {
  name: 'LoginForm',
  data() {
    return {
      email: null,
      password: null,
      RegisterRoute: RegisterRoute,
    };
  },
  methods: {
    login() {
      loginRequest(this.email, this.password)
          .then((user) => {
            userStore().login(user)
            if (this.$route.query.redirectTo) {
              return this.$router.push({name: this.$route.query.redirectTo})
            }
            if (userStore().user.isAdmin) {
              this.$router.push({name: AdminHomeRoute})
            } else {
              this.$router.push({name: HomeRoute})
            }
            successToast(this.$t('You\'re connected!'))
          })
          .catch((error) => {
            errorToast(error.message)
          })
    }
  }
}
</script>
