<template>
  <form @submit.prevent="onSubmit" class="row g-3 my-3">
    <div class="col-md-4 my-3">
      <label for="lastname" class="form-label fs-5">{{ $t('Name:') }} <span>*</span></label>
      <input type="text" :placeholder="$t('Please enter your name')" class="form-control" id="lastname" name="lastname"
             required
             v-model="form.lastname">
    </div>
    <div class="col-md-4 my-3">
      <label for="firstname" class="form-label fs-5">{{ $t('First name:') }}</label>
      <input type="text" :placeholder="$t('Please enter your first name')" class="form-control" id="firstname"
             name="firstname"
             required v-model="form.firstname">
    </div>

    <div class="col-md-4 my-3">
      <label for="email" class="form-label fs-5">{{ $t('Email:') }}</label>
      <input type="email" :placeholder="$t('Please enter your email')" class="form-control" id="email" name="email"
             required
             v-model="form.email">
    </div>

    <div class="col-md-6 my-3">
      <label for="address" class="form-label fs-5">{{ $t('Address:') }}</label>
      <input type="text" :placeholder="$t('Please enter your address')" class="form-control" id="" required
             v-model="form.address">
    </div>

    <div class="col-md-6 my-3">
      <label for="phone" class="form-label fs-5">{{ $t('Phone:') }}</label>
      <input type="text" :placeholder="$t('Please enter your phone number')" class="form-control" id="phone"
             name="phone"
             v-model="form.phone"
             required>
    </div>

    <div class="col-md-6 my-3">
      <label for="password" class="form-label fs-5">{{ $t('Password:') }}</label>
      <input type="password" :placeholder="$t('Enter password')" class="form-control" id="password" name="password"
             required v-model="form.password">
    </div>

    <div class="col-md-6 my-3">
      <label for="password-confirm" class="form-label fs-5">{{ $t('Confirm password:') }}</label>
      <input type="password" :placeholder="$t('Re-enter your password')" class="form-control" id="password-confirm"
             name="password-confirm" v-model="form.confirmPassword"
             required>
    </div>

    <div class="row col-md-6 my-4 align-items-center">
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label fs-5">{{ $t('I am a:')}}</label>
      </div>
      <div class="col-auto">
        <select class="form-select" aria-label="Default select example" v-model="role">
          <option v-for="(role, index) in roles" :key="index" :value="role.value">{{ role.label }}</option>
        </select>
      </div>
    </div>

    <div class="col-12 my-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          {{ $t('By checking this box, I give my consent to the recording of my data for the creation of my account. my account.')}}
        </label>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button class="btn btn-primary mt-3" type="submit">{{ $t('Register')}}</button>
    </div>
  </form>
</template>

<script lang="ts">
import {getRolesListRequest} from "@/api/userRequest";
import {registerRequest} from "@/api/authRequest";
import type {IRegister} from "@/interface/IRegister";
import {errorToast, successToast} from "@/components/toast/toast";

export default {
  name: 'RegisterForm',
  data() {
    return {
      form: {
        lastname: null,
        firstname: null,
        email: null,
        address: null,
        password: null,
        confirmPassword: null,
        phone: null,
        roles: []
      } as IRegister,
      role: '',
      roles: []
    }
  },
  mounted() {
    getRolesListRequest().then((response) => {
      this.roles = response.roles
      this.role = response.default
    })
  },
  methods: {
    onSubmit() {
      this.form.roles = [this.role]
      registerRequest(this.form)
          .then((response) => {
            successToast(response.message)
            setTimeout(() => {
              this.$router.push({'name': 'login'})
            }, 2000)
          })
          .catch(error => {
            errorToast(error.message)
          });
    }
  }
}
</script>
