<script lang="ts">
import {useOrderStore} from "@/stores/orderStore";
import NewItemExtraComponent from "@/components/Ride/NewItemExtraComponent.vue";
import {useCookies} from "vue3-cookies";
import {getOrder} from "@/api/order/orderRequest";
import {RideNewTransportRoute} from "@/config/FrontRoute";

export default {
  name: 'NewItemExtraView',
  components: {NewItemExtraComponent},
  data() {
    return {
      loaded: false
    }
  },
  setup() {
    const orderStore = useOrderStore()
    return {orderStore}
  },
  mounted() {
    const {cookies} = useCookies()
    if (cookies.get('cartToken')) {
      if (!this.orderStore.cartToken || !this.orderStore.addressValidate) {
        getOrder().then((order) => {
          this.orderStore.setOrder(order);
          this.loaded = true;
          if (!order.addressValidate) {
            this.$router.push({name: RideNewTransportRoute});
          }
        }).catch(() => this.$router.push({name: RideNewTransportRoute}));
      } else this.loaded = true;
    } else this.$router.push({name: RideNewTransportRoute});
  }
}
</script>

<template>
  <new-item-extra-component v-if="loaded"/>
</template>
