<script lang="ts">
import {useOrderStore} from "@/stores/orderStore";
import {useCookies} from "vue3-cookies";
import {getOrder} from "@/api/order/orderRequest";
import {RideNewPriceRoute} from "@/config/FrontRoute";
import NewItemDatesComponent from "@/components/Ride/NewItemDatesComponent.vue";

export default {
  name: 'NewItemDatesView',
  components: {NewItemDatesComponent},
  data() {
    return {
      loaded: false
    }
  },
  setup() {
    const orderStore = useOrderStore()
    return {orderStore}
  },
  mounted() {
    const {cookies} = useCookies()
    if (cookies.get('cartToken')) {
      if (!this.orderStore.cartToken || !this.orderStore.price) {
        getOrder().then((order) => {
          this.orderStore.setOrder(order);
          this.loaded = true;
          if (!order.price) {
            this.$router.push({name: RideNewPriceRoute});
          }
        }).catch(() => this.$router.push({name: RideNewPriceRoute}));
      } else this.loaded = true;
    } else this.$router.push({name: RideNewPriceRoute});
  }
}
</script>

<template>
  <new-item-dates-component v-if="loaded"/>
</template>
