<script lang="ts">
import NewItemComponent from "@/components/Ride/NewItemComponent.vue";
import {useOrderStore} from "@/stores/orderStore";
import {getOrInitiateOrder} from "@/api/order/orderRequest";

export default {
  name: 'NewItemView',
  components: {NewItemComponent},
  data() {
    return {
      loading: false
    }
  },
  setup() {
    const orderStore = useOrderStore()
    return {orderStore}
  },
  mounted() {
    getOrInitiateOrder().then((order) => {
      this.orderStore.setOrder(order)
      this.loading = true
    })
  }
}
</script>

<template>
  <new-item-component v-if="loading"/>
</template>
