<script lang="ts">
import {useOrderStore} from "@/stores/orderStore";
import {getOrder} from "@/api/order/orderRequest";
import {useCookies} from "vue3-cookies";
import {RideNewItemsRoute} from "@/config/FrontRoute";
import NewItemPriceComponent from "@/components/Ride/NewItemPriceComponent.vue";

export default {
  name: 'NewItemPriceView',
  components: {NewItemPriceComponent},
  data() {
    return {
      loaded: false
    }
  },
  setup() {
    const orderStore = useOrderStore()
    return {orderStore}
  },
  mounted() {
    const {cookies} = useCookies()
    if (cookies.get('cartToken')) {
      if (!this.orderStore.cartToken || !this.orderStore.itemsValidate) {
        getOrder().then((order) => {
          this.orderStore.setOrder(order);
          this.loaded = true;
          if (!order.itemsValidate) {
            this.$router.push({name: RideNewItemsRoute});
          }
        }).catch(() => this.$router.push({name: RideNewItemsRoute}));
      } else this.loaded = true;
    } else this.$router.push({name: RideNewItemsRoute});
  }
}
</script>

<template>
  <new-item-price-component v-if="loaded"/>
</template>
