<script lang="ts">
import SearchRideComponent from "@/components/Ride/Search/SearchRideComponent.vue";
import {getAvailableDelivery} from "@/api/order/orderRequest";

export default {
  name: 'RideSearchView',
  components: {SearchRideComponent},
  data() {
    return {
      orders: []
    };
  },
  mounted() {
    getAvailableDelivery().then((response) => {
      this.orders = response
    })
  }
}
</script>

<template>
  <search-ride-component :orders="orders"/>
</template>
