<template>
  <ads-component />
</template>

<script lang="ts">
import AdsComponent from '@/components/AdsComponent.vue'

export default {
  name: 'AdsView',
  components: {
    AdsComponent
  }
}
</script>
