<template>
  <form @submit.prevent="submitForm" class="row g-3 my-3">
    <div class="col-md-6 my-2">
      <label for="password" class="form-label fs-5">{{ $t('Password *') }}</label>
      <input type="password" :placeholder="$t('Enter password')" class="form-control" id="password" name="password"
             required v-model="form.password">
    </div>

    <div class="col-md-6 my-2">
      <label for="password-confirm" class="form-label fs-5">{{ $t('Confirm password *') }}</label>
      <input type="password" :placeholder="$t('Re-enter your password')" class="form-control" id="password-confirm"
             name="password-confirm" v-model="form.confirmPassword"
             required>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
      <button class="btn btn-primary" type="submit">{{ $t('Validate') }}</button>
    </div>
  </form>
</template>

<script lang="ts">
import {updateUserPasswordRequest} from "@/api/authRequest";
import {userStore} from "@/stores/userStore";
import type {IUpdatePassword} from "@/interface/IUpdatePassword";
import {successToast} from "@/components/toast/toast";

export default {
  name: "UpdateUserPasswordForm",
  data() {
    return {
      form: {
        password: '',
        confirmPassword: ''
      } as IUpdatePassword
    }
  },
  methods: {
    submitForm() {
      updateUserPasswordRequest(this.form).then((res) => {
        userStore().login(res)
        successToast(this.$t('You have been successfully updated your password'))
        // TODO 👋 clean this little shit
        this.form.password = ''
        this.form.confirmPassword = ''
      })
    }
  }
}
</script>
