<template>
  <form @submit.prevent="submitForm" class="row g-3 my-3">
    <div class="col-md-4 my-2">
      <label for="lastname" class="form-label fs-5">{{ $t('Lastname') }} <span>*</span></label>
      <input type="text" :placeholder="$t('Please enter your name')" class="form-control" id="lastname" name="lastname"
             required
             v-model="this.user.lastname">
    </div>
    <div class="col-md-4 my-2">
      <label for="firstname" class="form-label fs-5">{{ $t('Firstname') }} <span>*</span></label>
      <input type="text" :placeholder="$t('Please enter your first name')" class="form-control" id="firstname"
             name="firstname"
             required v-model="this.user.firstname">
    </div>

    <div class="col-md-4 my-2">
      <label for="email" class="form-label fs-5">{{ $t('Email') }} <span>*</span></label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">@</span>
        <input type="email" :placeholder="$t('Please enter your email')" class="form-control" id="email" name="email"
               required
               v-model="this.user.email">
      </div>
    </div>

    <div class="col-md-6 my-2">
      <label for="address" class="form-label fs-5">{{ $t('Address') }} <span>*</span></label>
      <input type="text" :placeholder="$t('Please enter your address')" class="form-control" id="" required
             v-model="this.user.address">
    </div>

    <div class="col-md-6 my-2">
      <label for="phone" class="form-label fs-5">{{ $t('Phone') }} <span>*</span></label>
      <input type="text" :placeholder="$t('Please enter your phone number')" class="form-control" id="phone"
             name="phone"
             v-model="this.user.phone"
             required>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
      <button class="btn btn-primary" type="submit">{{ $t('Validate') }}</button>
    </div>

  </form>
</template>

<script lang="ts">
import {userStore} from "@/stores/userStore";
import {mapState} from "pinia";
import {updateUserInfoRequest} from "@/api/authRequest";
import {successToast} from "@/components/toast/toast";

export default {
  name: "UpdateUserForm",
  computed: {
    ...mapState(userStore, ['user'])
  },
  methods: {
    submitForm() {
      updateUserInfoRequest(this.user).then((res) => {
        userStore().login(res)
        successToast(this.$t('Your modification has been successfully updated'))
      })
    }
  }
}
</script>
